<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com" 
                   matchAll="true"/>
		 <serverUrl url="http://arcgisupg.lirr.org"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>
<!--http://services.arcgisonline.com-->
<!-- See https://github.com/Esri/resource-proxy for more information -->
