#content
{
   background-color: #f2f2f2;
   padding: 2px 2px;
   overflow: auto;
}
#tab-container
{
   float: left;
   margin: 2px 0 0 0;
   width: 5px;
}
#tab-container ul
{
   list-style: none;
   text-align: left;
   
}
#tab-container ul li
{
   border-top: 1px solid #666;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
   border-left: 2px solid #666;
   background-color: #ddd;
   margin: 2px 0;
   
}
#tab-container ul li a,
#tab-container ul li a:visited
{
   text-decoration: none;
   color: #666;
   display: block;
   padding: 2px 5px;
}
#tab-container ul li:hover
{
   border-left: 8px solid #333;
}
#tab-container ul li a:hover
{
   color: #FF9900;
}
#tab-container ul li.selected
{
   border-right: none;
   background-color: #fff;
   border-left: 2px solid #006699;
   
}
#main-container
{
   min-height: 600px;
   margin: 0 0 0 5px;
   padding: 3px;
   background-color: #fff;
   border: 1px solid #888;
}





#tabs-titles{
    float:left;
    margin-right:2px;
	
}
#tabs-titles li{
    cursor:pointer;
	list-style-type: none;
}
#tabs-titles li.current{
	font-weight:bold;
}
div#content #tabs-titles li.current, div#content #tabs-titles li.current a, div#content #tabs-titles li.current a:link{
	color: #333;
}
#tabs-contents{
    
    margin-left:5px;
    padding:1px;
}
#tabs-contents li{
    display:none;
	list-style-type: none;
}
#tabs-contents li:first-child{
    display:none;
}
#ul
{
    list-style-type: none;
}